In [1]:
import pandas as pd

In [2]:
txt_file = "Resources/detrend.nino34.ascii.txt"

df = pd.read_csv(txt_file, delim_whitespace=True)

In [3]:
df.head()

     YR  MON  TOTAL  ClimAdjust  ANOM
0  1950    1  24.56       26.18 -1.62
1  1950    2  25.07       26.39 -1.32
2  1950    3  25.88       26.95 -1.07
3  1950    4  26.29       27.39 -1.11
4  1950    5  26.19       27.56 -1.37

In [4]:
df.to_csv("Resources/nino34.csv", index = None)